{% load static %}

<!-- full post Modal (give it a max height)-->

<div class="modal fade" id="fullPostModal" tabindex="-1" role="dialog" aria-labelledby="fullPostModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header d-flex justify-content-end p-0 pe-2 pt-1 border-bottom border-black">
          <button type="button" class="bg-transparent border-0 p-1" data-dismiss="modal"><span class="material-icons text-light">close</span></button>
        </div>
        <div class="modal-body">
          <div class="container h-80vh overflow-y-scroll">
            <div class="row h-100">
              
              <!-- if trade post don't add h-100 -->
              <div class="col-lg-8 col-12 p-3 rounded-3 h-100">

                <!-- if only media post -->

                <div id="fullPostCarousel" class="carousel slide h-100" data-interval="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#fullPostCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#fullPostCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#fullPostCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#fullPostCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#fullPostCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  </div>

                  <!-- if height is greater than width than image should have the class h-100 and vice versa -->
                  <div class="carousel-inner h-100 w-100 d-flex align-items-center shadow rounded-3">
                    <div class="carousel-item active h-100 w-100">
                      <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                        <img src="{% static  '/assets/profilePictures/9_1631962626_0.jpg' %}" class="d-block h-100 w-100 imageScale" alt="..." >
                      </div>
                    </div>
                    <div class="carousel-item h-100 w-100">
                      <div class=" h-100 w-100 d-flex justify-content-center">
                        <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="d-block h-100 w-100 imageScale" alt="..." >
                      </div>
                    </div>
                    <div class="carousel-item h-100 w-100">
                      <div class=" h-100 w-100 d-flex justify-content-center align-items-center">
                        <img src="{% static  '/assets/profilePictures/9_1631962626_0.jpg' %}" class="d-block h-100 w-100 imageScale" alt="..." >
                      </div>
                    </div>
                    <div class="carousel-item h-100 w-100">
                      <div class=" h-100 w-100 d-flex justify-content-center align-items-center">
                        <img src="{% static  '/assets/profilePictures/9_1632513164_0.gif' %}" class="d-block h-100 w-100 imageScale" alt="..." >
                      </div>
                    </div>
                    <div class="carousel-item h-100 w-100">
                      <div class=" h-100 w-100 d-flex justify-content-center align-items-center">
                        <img src="{% static  '/assets/profilePictures/1338747.jpg' %}" class="d-block w-100 imageScale" alt="...">
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#fullPostCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#fullPostCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

                <div class="row me-0 pt-1 pb-3 d-flex align-items-center h-100 d-none">
                  <div class="col-1 d-lg-block d-none"></div>
                  <div class="col-lg-9 col-12 ps-sm-3 pe-sm-3 ps-0 shadow mt-2 text-light p-3 position-relative">
    
                    <div class="position-absolute">
                      <abbr title="Running"><span class="material-icons text-primary">directions_run</span></abbr>
                    </div>
    
                    <div class="row">
                      <div class="col-12 text-center">
                        <span class=" font-xxlg">RELIANCE INC. <sub class="text-darkgray font-xs">NFO</sub></span>
                      </div>
                    </div>
    
                    <div class="row p-3 d-flex justify-content-around shadow">
                      <div class="col-auto">
                        <span class="text-darkgray">Avg Price: </span><span class="text-primary">3500</span>
                      </div>
                      <div class="col-auto">
                        <span class="text-darkgray">LTP: </span><span class="text-success">32490</span>
                      </div>
                      <div class="col-auto">
                        <span class="text-darkgray">QTY: </span><span class="text-info">500</span>
                      </div>
                    </div>

                    <div class="row p-3 d-flex justify-content-around shadow">
                      <div class="col-auto font-lg">
                        <span class="text-darkgray">Stop Loss: </span><span class="text-danger">3500</span>
                      </div>
                    </div>
    
                    <div class="row p-3 d-flex justify-content-around">
                      <div class="col-auto font-xlg">
                        <span class="text-darkgray">P&L </span><span class="text-danger ">-3500 <sub class="font-xs">(-2%)</sub></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- comments and caption section -->
              <div class="col-lg-4 col-12 h-100 p-3 rounded-3 shadow">
                <div class="row pt-2 ps-2 d-flex justify-content-center">
                  <div class="col-auto p-0" role="button">
                    <div class="rounded-circle overflow-hidden float-end">
                      <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="fill150"  alt="">
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-12 font-sm text-light text-center">
                    <div class="row">
                      <div class="col-12">
                        <strong>Vipul Gupta</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="font-xs text-darkgray">
                          1 hour, 57 minutes ago
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-12" >
                    <span class="font-sm text-light">Hi <br> Electric vehicle manufacturing</span>
                  </div>
                </div>
                <div class="row me-0 pt-3 d-flex justify-content-between">
                  <div class="like col-lg-1 col-3 ">
                    <span class="material-icons font-sm text-danger text-hover-danger" role="button">
                      favorite_border
                    </span><br>
                    <span class="font-xs text-darkgray" role="button">100</span>
                  </div>
                  <div class="like col-lg-1 col-3 ">
                    <span class="material-icons font-sm text-info text-hover-info" role="button">
                      chat
                    </span><br>
                    <span class="font-xs text-darkgray" role="button">100</span>
                  </div>
                  <div class="like col-lg-1 col-3 ">
                    <span class="material-icons font-sm text-warning text-hover-warning" role="button">
                      share
                    </span>
                  </div>
                  <div class="like col-lg-1 col-2 ">
                    <span class="material-icons font-sm text-success text-hover-success" role="button">
                      bookmark_add
                    </span>
                  </div>
                </div>

                <div class="commentBox">
                  <div class="comment pb-2">
                    <div class="row pt-3 ps-sm-3 d-flex align-items-center pb-1">
                      <div class="col-auto p-0" role="button">
                        <div class="rounded-circle overflow-hidden fill30 ">
                          <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="fill30" alt="">
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="row d-flex align-items-center">
                          <div class="col-10 font-sm">
                            <strong class=" text-light">Vipul Gupta</strong> 
                          </div>

                          <!-- if no edit symbol is there then add offset-1 to alling -->
                          <div class="col-1 offset-1 p-0 d-flex align-items-center">
                            <span class="material-icons font-sm text-danger text-hover-danger" role="button">favorite_border</span>
                            <span class="font-xs text-darkgray" role="button">100</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row   d-flex align-items-center ps-sm-3">
                      <div class="col-auto p-0 fill30" role="button"></div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-12"><span class="font-w text-light">Lorem ipsum dolor sit amet mostias ipsa fugit.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="comment pb-2">
                    <div class="row pt-3 ps-sm-3 d-flex align-items-center pb-1">
                      <div class="col-auto p-0" role="button">
                        <div class="rounded-circle overflow-hidden fill30 ">
                          <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="fill30" alt="">
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="row d-flex align-items-center">
                          <div class="col-10 font-sm">
                            <strong class=" text-light">Vipul Gupta</strong> 
                          </div>
                          <div class="col-1 p-0 d-flex align-items-center">
                            <span class="material-icons font-sm text-info text-hover-info" role="button">
                              edit
                            </span>
                          </div>
                          <div class="col-1 p-0 d-flex align-items-center">
                            <span class="material-icons font-sm text-danger text-hover-danger" role="button">
                              favorite_border
                            </span>
                            <span class="font-xs text-darkgray" role="button">100</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row   d-flex align-items-center ps-sm-3">
                      <div class="col-auto p-0 fill30" role="button"></div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-12"><span class="font-w text-light">Lorem ipsum dolor sit amet mostias ipsa fugit.</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>