<div class="container-md ps-0 pe-0">
    
    <!-- all rows are used as row me-0 -->
    <!-- row and ps-2 if row me-0 is converted to row -->
    <div class="row ps-2 me-0">
        <div class="col-lg-8 col-sm-12 col-12 p-lg-4 pt-4 pb-lg-1 pt-lg-1 pe-1 ps-1 border-end border-black border-md-none">
        <div class=" p-2 mt-lg-4 mb-lg-4 bg-gray rounded-3 border border-black">
            <div class="w-100 d-flex overflow-auto">
            <div class="col-auto pe-4">
                <p class=" m-0"><strong class="text-uppercase text-muted">NIF50  </strong><span class="text-success font-sm"> 18405 </span><span class="material-icons text-success">trending_up</span><span class="text-success font-sm"> +87.3 (+1.2%) </span></p>
            </div>
            <div class="col-auto pe-4">
                <p class=" m-0"><strong class="text-uppercase text-muted">SENSEX </strong><span class="text-success font-sm"> 18405 </span><span class="material-icons text-success">trending_up</span><span class="text-success font-sm"> +87.3 (+1.2%) </span></p>
            </div>
            <div class="col-auto pe-4">
                <p class=" m-0"><strong class="text-uppercase text-muted">BANKNIF </strong><span class="text-danger font-sm"> 35012 </span><span class="material-icons text-danger">trending_down</span><span class="text-danger font-sm"> -45.3 (-3%)</span></p>
            </div>
            <div class="col-auto">
                <p class=" m-0"><strong class="text-uppercase text-muted">BANKNIF </strong><span class="text-danger font-sm"> 35012 </span><span class="material-icons text-danger">trending_down</span><span class="text-danger font-sm"> -45.3 (-3%)</span></p>
            </div>
            </div>
        </div>
        </div>
        <!-- enter a qoute here -->
        <div class="col-lg-4 col-12 d-none d-lg-block">
        <div class="p-4 ps-5 pb-0 row me-0">
            <div class="col-lg-10 col-12 text-center">
            <span class=" text-light font-xlg " style="font-family: 'Dancing Script', cursive;">An Investment In Knowledge Pays The Best Interest &#128526;	</span>
            </div>
        </div>
        </div>
    </div>
</div>