{% load static %}

<div class="p-4 ps-5 row me-0" >
    <div class="h-auto bg-gray border border-black rounded-3 p-4 pt-2 col-auto">
      <div class="font-md pb-4 pt-3" role="button">
        <span class="border-bottom-blue pb-2 text-light">Followings &#128521;</span>
      </div>
      
      <div class="row me-0">
        <div class="col-4 font-xs border-ends" role="button">
          <span class=" text-light p-2">Newest</span>
        </div>
        <div class="col-4 font-xs border-ends" role="button">
          <span class=" text-light p-2 border-bottom-blue">Activity</span>
        </div>
        <div class="col-4 font-xs " role="button">
          <span class=" text-light p-2">Popular</span>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-3 " role="button">
          <div class="rounded-circle overflow-hidden fill40">
            <img src="{% static  '/assets/profilePictures/images.jpeg' %}" width="40px" height="40px" alt="">
          </div>
        </div>
        <div class="col-9 ">
          <div class="row me-0">
            <div class="col-10 font-sm">
              <span class=" text-light">Vipul Gupta</span>
            </div>
          </div>
          <div class="row me-0">
            <div class="col-12">
              <span class="font-xs text-gray">
                <span class=" text-gray">1 hour, 57 minutes ago</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-3 " role="button">
          <div class="rounded-circle overflow-hidden fill40">
            <img src="{% static  '/assets/profilePictures/testimonials-3.jpg' %}" width="40px" height="40px" alt="">
          </div>
        </div>
        <div class="col-9 ">
          <div class="row me-0">
            <div class="col-10 font-sm">
              <span class=" text-light">Vipul Gupta</span>
            </div>
          </div>
          <div class="row me-0">
            <div class="col-12">
              <span class="font-xs text-gray">
                <span class=" text-gray">1 hour, 57 minutes ago</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-3 " role="button">
          <div class="rounded-circle overflow-hidden fill40">
            <img src="{% static  '/assets/profilePictures/images2.jpeg' %}" width="40px" height="40px" alt="">
          </div>
        </div>
        <div class="col-9 ">
          <div class="row me-0">
            <div class="col-10 font-sm">
              <span class=" text-light">Vipul Gupta</span>
            </div>
          </div>
          <div class="row me-0">
            <div class="col-12">
              <span class="font-xs text-gray">
                <span class=" text-gray">1 hour, 57 minutes ago</span>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div> 
  </div>

  <!-- replace the style -->
  <div class="p-4 pt-2 ps-5 row me-0 position-sticky top-10" >
    <div class="h-auto bg-gray bg-gradient border border-black rounded-3 p-4 pt-2 col-auto mb-4">
      <div class="font-md pb-4 pt-3" role="button">
        <span class="border-bottom-red pb-2 text-light">Stock List &#128526;</span>
      </div>
      
      <div class="row me-0 pb-1">
        <div class="col-4 font-xs pe-0 border-ends" role="button">
          <span class="p-2 text-light">Gainers</span> 
        </div>
        <div class="col-4 font-xs pe-0 border-ends" role="button">
          <span class="p-2 border-bottom-red text-light">Losers</span> 
        </div>
        <div class="col-4 font-xs pe-0" role="button">
            <span class="p-2 text-light">My List</span> 
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-5">
          <div class="row me-0">
            <span class=" text-light font-sm">NIFTY 50</span>
          </div>
          <div class="row me-0">
            <span class=" text-muted font-xs">(NSE)</span>
          </div>
        </div>
        <div class="col-2">
          <span class="material-icons text-danger">trending_down</span>
        </div>
        <div class="col-5">
          <span class="font-xs text-danger">35049(-1.2%)</span>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-5">
          <div class="row me-0">
            <span class=" text-light font-sm">Bank Nifty</span>
          </div>
          <div class="row me-0">
            <span class=" text-muted font-xs">(NSE)</span>
          </div>
        </div>
        <div class="col-2">
          <span class="material-icons text-success">trending_up</span>
        </div>
        <div class="col-5">
          <span class="font-xs text-success">35049(+12%)</span>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-5">
          <div class="row me-0">
            <span class=" text-light font-sm">Tata Mot</span>
          </div>
          <div class="row me-0">
            <span class=" text-muted font-xs">(BSE)</span>
          </div>
        </div>
        <div class="col-2">
          <span class="material-icons text-success">trending_up</span>
        </div>
        <div class="col-5">
          <span class="font-xs text-success">35049(+2.3%)</span>
        </div>
      </div>

      <div class="row me-0 pt-3">
        <div class="col-5">
          <div class="row me-0">
            <span class=" text-light font-sm">ITC</span>
          </div>
          <div class="row me-0">
            <span class=" text-muted font-xs">(NSE)</span>
          </div>
        </div>
        <div class="col-2">
          <span class="material-icons text-danger">trending_down</span>
        </div>
        <div class="col-5">
          <span class="font-xs text-danger">35049(-1.01%)</span>
        </div>
      </div>
    </div> 

    <!-- create post field -->

    <div type="button"  data-toggle="modal" data-target="#postCreteModal" class="h-auto bg-gray bg-gradient border border-black rounded-3 p-4 pt-2 col-auto " role="button">
      <div class="font-md pb-4 pt-3" role="button">
        <span class="border-bottom-green pb-2 text-light">Create Post &#128523;</span>
      </div>
      
      <div class="row me-0 pb-1">
        <div class="col-12 font-xs" role="button">
          <input type="text" class="bg-transparent border border-1 border-light text-light p-2  w-100 rounded-3" placeholder="Post Here... &#128525;" role="button">
        </div>
      </div>

      <div class="row me-0 pt-sm-3">
        <div class="col-auto ">
          <span class="material-icons text-light border-bottom-green">edit</span>
        </div>
        <div class="col-auto ">
          <span class="material-icons text-light">image</span>
        </div>
        <div class="col-auto ">
          <span class="material-icons text-light">photo_camera</span>
        </div>
        <div class="col-auto ">
          <span class="material-icons text-light">videocam</span>
        </div>
        <div class="col-auto ">
          <span class="material-icons text-light">candlestick_chart</span>
        </div>
      </div>

    </div> 
  </div>