{% load static %}

<div class="post border-bottom border-black">
    <div class="row me-0 pt-4 ps-lg-0 ps-1">

      <div class="col-lg-1 col-auto p-0" role="button">
        <div class="rounded-circle overflow-hidden fill40 float-end">
          <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" width="40px" height="40px" alt="">
        </div>
      </div>
      <div class="col-lg-11 col-10">
        <div class="row me-0">
          <div class="col-12 font-sm text-light">
            <strong>Vipul Gupta</strong> <span class="text-darkgray">posted an update</span>
          </div>
        </div>
        <div class="row me-0">
          <div class="col-12">
            <span class="font-xs text-darkgray">
              1 hour, 57 minutes ago
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row me-0 pt-3 ps-lg-0 ps-1">
      <div class="col-1 d-lg-block d-none"></div>
      <div class="col-lg-9 col-12 ps-sm-3 pe-sm-3 ps-0" >
        <span class="font-sm text-light">Hi <br> Electric vehicle manufacturing</span>
      </div>
    </div>

    <div class="row me-0 pt-1 pb-3">
      <div class="col-1 d-lg-block d-none"></div>
      <div class="col-lg-9 col-12 ps-sm-3 pe-sm-3 ps-0 shadow mt-2 text-light p-3 position-relative">

        <div class="position-absolute">
          <abbr title="Running"><span class="material-icons text-primary">directions_run</span></abbr>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <span class=" font-xxlg">RELIANCE INC. <sub class="text-darkgray font-xs">NFO</sub></span>
          </div>
        </div>

        <div class="row p-3 d-flex justify-content-around shadow">
          <div class="col-auto">
            <span class="text-darkgray">Avg Price: </span><span class="text-primary">3500</span>
          </div>
          <div class="col-auto">
            <span class="text-darkgray">LTP: </span><span class="text-success">32490</span>
          </div>
          <div class="col-auto">
            <span class="text-darkgray">QTY: </span><span class="text-info">500</span>
          </div>
        </div>

        <div class="row p-3 d-flex justify-content-around shadow">
          <div class="col-auto font-lg">
            <span class="text-darkgray">Stop Loss: </span><span class="text-danger">@3500</span>
          </div>
        </div>

        <div class="row p-3 d-flex justify-content-around">
          <div class="col-auto font-xxlg">
            <span class="text-darkgray">P&L </span><span class="text-success ">+3500 <sub class="font-xs">(+2.8%)</sub></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row me-0 ps-lg-2">
      <div class="col-1"></div>
      <div class="like col-lg-1 col-3 ">
        <span class="material-icons font-sm text-danger text-hover-danger" role="button">
          favorite_border
        </span><br>
        <span class="font-xs text-darkgray" role="button">100</span>
      </div>
      <div class="like col-lg-1 col-3 ">
        <span class="material-icons font-sm text-info text-hover-info" role="button">
          chat
        </span><br>
        <span class="font-xs text-darkgray" role="button">100</span>
      </div>
      <div class="like col-lg-1 col-3 ">
        <span class="material-icons font-sm text-warning text-hover-warning" role="button">
          share
        </span>
      </div>
      <div class="like col-lg-1 col-2 ">
        <span class="material-icons font-sm text-success text-hover-success" role="button">
          bookmark_add
        </span>
      </div>
    </div>

    <div class="commentBox">
      <div class="comment pb-2">
        <div class="row me-0 pt-3 ps-sm-3 d-flex align-items-center pb-1">
          <div class="col-1 d-lg-block d-none"></div>
          <div class="col-auto p-0" role="button">
            <div class="rounded-circle overflow-hidden fill30 ">
              <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="fill30" alt="">
            </div>
          </div>
          <div class="col-10">
            <div class="row me-0 d-flex align-items-center">
              <div class="col-11 font-sm">
                <strong class=" text-light">Vipul Gupta</strong> 
                <span class="text-darkgray">commented</span>
                <span class="font-xs text-darkgray">1 hour ago</span>
              </div>
              <div class="col-1 p-0 d-flex align-items-center">
                <span class="material-icons font-sm text-danger text-hover-danger" role="button">
                  favorite_border
                </span>
                <span class="font-xs text-darkgray" role="button">100</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row me-0  d-flex align-items-center ps-sm-3">
          <!-- these divs are just for extra padding, to compensate the padding with image -->
          <div class="col-1 d-lg-block d-none"></div>
          <div class="col-auto p-0 fill30 " role="button"></div>
          <div class="col-10">
            <div class="row me-0">
              <div class="col-11"><span class="font-w text-light">Lorem ipsum dolor sit amet molestias ipsa fugit.</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="comment pb-1">
        <div class="row me-0 pt-3 ps-sm-3 d-flex align-items-center pb-1">
          <div class="col-1 d-lg-block d-none"></div>
          <div class="col-auto p-0" role="button">
            <div class="rounded-circle overflow-hidden fill30 ">
              <img src="{% static  '/assets/profilePictures/photo-1503023345310-bd7c1de61c7d.jpeg' %}" class="fill30" alt="">
            </div>
          </div>
          <div class="col-10">
            <div class="row me-0 d-flex align-items-center">
              <div class="col-11 font-sm">
                <strong class="text-light">Vipul Gupta</strong> 
                <span class="text-darkgray">commented</span>
                <span class="font-xs text-gray">1 hour ago</span>
              </div>
              <div class="col-1 p-0 d-flex align-items-center">
                <span class="material-icons font-sm text-danger text-hover-danger" role="button">
                  favorite_border
                </span>
                <span class="font-xs text-darkgray" role="button">100</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row me-0  d-flex align-items-center ps-sm-3">
          <!-- these divs are just for extra padding, to compensate the padding with image -->
          <div class="col-1 d-lg-block d-none"></div>
          <div class="col-auto p-0 fill30 " role="button"></div>
          <div class="col-10">
            <div class="row me-0">

              <div class="col-11"><span class="font-w text-light">Lorem ipsum lias Lorem vitae est non, dolore ullam quisquam? nderit. Neque?</span></div>
              <div class="col-1 p-0 d-flex align-items-center">
                <span class="material-icons font-sm text-info text-hover-info" role="button">
                  edit
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row me-0 d-flex justify-content-center pb-3">
      <div class="col-auto">
        <button class="btn btn-sm small rounded-circle">
          <span class="material-icons text-danger text-hover-danger font-md">expand_more</span>
        </button> 
      </div>
    </div>
  </div>