.mh-400{
    max-height: 400px !important;
}
.h-100px{
    height: 100px !important;
}
.h-200px{
    height: 200px !important;
}
.h-80vh{
    height: 80vh;
}

.bg-stock{
    z-index: -10000;
    opacity: 0.3;
}

/* heigth and widh classes */
.fill40{
    width: 40px;
    height: 40px;
}
.fill150{
    width: 150px;
    height: 150px;
}
.fill30{
    width: 30px;
    height: 30px;
}
.h-64px{
    height: 64px;
}

/* background classes */
.bg{
    background-image:  linear-gradient(45deg, rgb(171, 231, 245), white);
}
.bg-red{
    background-image:  linear-gradient(45deg, #fce6e6, white);
}
.bg-gray{
    background-image:  linear-gradient(45deg, #282828, rgb(43, 43, 43)) !important;
}
.bg-light-gray{
    background-image:  linear-gradient(45deg, #cacaca, rgb(172, 172, 172)) !important;
}

/* font classes */
.font-sm{
    font-size: 14px ;
}
.font-xs{
    font-size: 11.5px ;
}
.font-md{
    font-size: 16px;
}
.font-lg{
    font-size: 18px;
}
.font-xlg{
    font-size: 23px;
}
.font-xxlg{
    font-size: 30px;
}
.text-gray{
    color: rgb(189, 189, 189);
}
.text-darkgray{
    color: rgb(153, 153, 153);
}
.material-icons.font-sm{
    font-size: 20px ;
}
.material-icons.font-md{
    font-size: 25px ;
}
.material-icons.font-lg{
    font-size: 28px ;
}
.material-icons.font-xlg{
    font-size: 30px ;
}
.material-icons.font-xxlg{
    font-size: 40px ;
}
.font-w{
    font-weight: 300;
}
.font-source-code-pro{
    font-family: 'Source Code Pro', monospace;
}
.font-bebas-neue{
    font-family: 'Bebas Neue', cursive;
}
.font-no-underline{
    text-decoration: none !important;
}


/* border classes */
.border-bottom-blue{
    border-bottom: solid 2px #0dcaf0;
}
.border-bottom-red{
    border-bottom: solid 2px #f0370d;
}
.border-bottom-green{
    border-bottom: solid 2px #198754;
}

.border-ends{
    border-right: solid 1px #d3d3d3;
}
@media (max-width: 992px) {
    .border-md-none{
        border: none !important;
    }
}
.border-dashed{
    border: dashed rgb(255, 255, 255) !important;
}

/* hover classes */
.text-hover-warning:hover{
    text-shadow: 0px 0px 4px #ffca29 ;
}

.text-hover-success:hover{
    text-shadow: 0px 0px 4px #40da92 ;
}

.text-hover-info:hover{
    text-shadow: 0px 0px 4px rgb(99, 229, 255) ;
}

.text-hover-danger:hover{
    text-shadow: 0px 0px 4px #ff4659 ;
}

.box-hover-blue:hover{
    box-shadow: 0 0 7px #caf0f8;
}

/* tag properties */
textarea {
    resize: none;
 }

 /* positions */
.top-10{
    top: 10%;
}

/* overflow */

.overflow-x-scroll{
    overflow-x: scroll;
}
.overflow-y-scroll{
    overflow-y: scroll;
}


/* slider check box css change it later */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(255, 147, 147);;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 8px rgb(255, 147, 147);;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }