{% extends 'base.html' %}

{% load static %}


{% block head_title %}BlueCub{% endblock %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

    <!-- background image -->
    <div class="bg-stock w-100 h-100 position-fixed">
        <img src="{% static '/images/bg-stock.jpg' %}" width="100%" height="100%" alt="">
    </div>

    <div class="mainContainer border-start border-black">
        <div class="w-100 sticky-top">
            <div class="container ps-0 pe-0">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container row pe-0">
                        <div class="col-lg-auto col-12 p-0 d-flex">
                            <a class="navbar-brand" href="/"><img src="{% static '/images/logo.png' %}" class="me-1" alt=""><span>BlueCub</span></a>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </div><br><br><br><br>

        <div class="bg-dark container p-4 pb-5 rounded-3 bg-opacity-75">

            <div class="row">
                <div class="col-lg-6 d-none d-lg-block border-end p-3">
                    <div class="container d-flex align-items-center h-100">
                        <div class="row">
                            <div class="col-12 font-xxlg font-bebas-neue">
                                <span class="text-light">If You Don't Follow Stock Market You Are Missing Some Amazing Drama</span><br><sub class="text-light float-end">-MARK CUBAN</sub>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-12 p-3">
                    
                    <div class="container">
                        <div class="row d-flex justify-content-center">        
                            <div class="col-auto p-0">
                                <span class="font-xxlg text-light font-source-code-pro">Join The Pride&#128062;</span>
                            </div>
                        </div><br><br>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5 col-10">
                                <a href="/"><img src="{% static '/images/googleLoginButton.png' %}" class="w-100 rounded-3" alt=""></a>
                            </div>
                        </div><br>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5 col-10">
                                <a href="/"><img src="{% static '/images/facebookLoginButton.png' %}" class="w-100 rounded-3" alt=""></a>
                            </div>
                        </div><br>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5 col-10 d-flex justify-content-center bg-info bg-gradient p-2 rounded-3">
                                <span class="material-icons text-light me-2">fingerprint</span><span class="text-light">Login With FingerPrint</span>
                            </div>
                        </div><br>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5 col-10 d-flex align-items-center justify-content-center p-2 bg-danger rounded-3">
                                <span class="material-icons text-light pe-2">alternate_email</span><span class="text-light">Login With Email</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>

    </div>

  {% include "scripts.html" %}
  
{% endblock %}



